<!DOCTYPE html>
<html class="supernova">
<head>
    <title>SignUp</title>
    <style type="text/css">@media print{.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}</style>
    <link rel="stylesheet" href="/static/signup/css/style.css">
    <link rel="stylesheet" href="/static/signup/css/main.css">
</head>
<body>
<form class="jotform-form" action="/signup/" method="post" name="form_230023299150548" id="230023299150548" accept-charset="utf-8" autocomplete="on">
	{%csrf_token%}
  <div role="main" class="form-all">
    <style>
      .form-all:before
      {
        background: none;
      }
    </style>
    <ul class="form-section page-section">

      <li id="cid_28" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-large">
          <div class="header-text httal htvam">
            <h1 id="header_28" class="form-header" data-component="header">SignUp</h1>
          </div>
        </div>
      </li>

      <li class="form-line jf-required" data-type="control_textbox" id="id_46">
        <label class="form-label form-label-top form-label-auto" id="label_46" for="input_46"> Username
            <span class="form-required">*</span> 
        </label>

        <div id="cid_46" class="form-input-wide jf-required" data-layout="half"> 
            {{form.username}}
        </div>
      </li>

      <li class="form-line jf-required" data-type="control_fullname" id="id_4">
        <div id="cid_4" class="form-input-wide jf-required" data-layout="full">
            <div data-wrapper-react="true">
                <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
									<label class="form-label form-label-top" id="label_4" for="first_4"> First Name
										<span class="form-required">*</span> 
									</label>
                  {{form.first_name}}
                </span>

                <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
									<label class="form-label form-label-top" id="label_4" for="first_4"> Last Name
										<span class="form-required">*</span> 
									</label>
									{{form.last_name}}
                </span>
            </div>
        </div>
      </li>

      <li class="form-line jf-required" data-type="control_email" id="id_10">
        <label class="form-label form-label-top form-label-auto" id="label_10" for="input_10"> E-mail
            <span class="form-required">*</span> 
        </label>
        <div id="cid_10" class="form-input-wide jf-required" data-layout="half"> 
            <span class="form-sub-label-container" style="vertical-align:top">
								{{form.email}}
            </span> 
        </div>
      </li>
      
      <li class="form-line" data-type="control_fullname" id="id_50">
        <div id="cid_50" class="form-input-wide" data-layout="full">
            <div data-wrapper-react="true">
                <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
										<label class="form-label form-label-top form-label-auto" id="label_50" for="first_50"> Password 
											<span class="form-required">*</span> 
										</label>
                    {{form.password}}
                </span>

                <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
										<label class="form-label form-label-top form-label-auto" id="label_50" for="first_50">Confirm Password 
											<span class="form-required">*</span> 
										</label>
                    {{form.password2}}
                </span>
            </div>
        </div>
      </li>

      <li class="form-line jf-required" data-type="control_radio" id="id_41"><label class="form-label form-label-top" id="label_41" for="input_41"> Designation<span class="form-required">*</span> </label>
        <div id="cid_41" class="form-input-wide jf-required" data-layout="full">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_41" data-component="radio"><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_41" class="form-radio validate[required]" id="input_41_0" name="q41_designation" value="Student" required="" /><label id="label_input_41_0" for="input_41_0">Student</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_41" class="form-radio validate[required]" id="input_41_1" name="q41_designation" value="Student" required="" /><label id="label_input_41_1" for="input_41_1">Student</label></span></div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_radio" id="id_43"><label class="form-label form-label-top form-label-auto" id="label_43" for="input_43"> Do you have a Library Card<span class="form-required">*</span> </label>
        <div id="cid_43" class="form-input-wide jf-required" data-layout="full">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_43" data-component="radio"><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_43" class="form-radio validate[required]" id="input_43_0" name="q43_typeA" value="Yes" required="" /><label id="label_input_43_0" for="input_43_0">Yes</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_43" class="form-radio validate[required]" id="input_43_1" name="q43_typeA" value="No" required="" /><label id="label_input_43_1" for="input_43_1">No</label></span></div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_45"><label class="form-label form-label-top form-label-auto" id="label_45" for="input_45"> Library Number<span class="form-required">*</span> </label>
        <div id="cid_45" class="form-input-wide jf-required" data-layout="half"> <input type="text" id="input_45" name="q45_typeA45" data-type="input-textbox" class="form-textbox validate[required]" data-defaultvalue="" style="width:310px" size="310" value="" data-component="textbox" aria-labelledby="label_45" required="" /> </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_47"><label class="form-label form-label-top form-label-auto" id="label_47" for="input_47"> Staff Id<span class="form-required">*</span> </label>
        <div id="cid_47" class="form-input-wide jf-required" data-layout="half"> <input type="text" id="input_47" name="q47_staffId" data-type="input-textbox" class="form-textbox validate[required]" data-defaultvalue="" style="width:310px" size="310" value="" data-component="textbox" aria-labelledby="label_47" required="" /> </div>
      </li>

       <li class="form-line jf-required" data-type="control_fileupload" id="id_53"><label class="form-label form-label-top" id="label_53" for="input_53"> Profile Picture<span class="form-required">*</span> </label>
        <div id="cid_53" class="form-input-wide jf-required" data-layout="full">
          <div class="jfQuestion-fields" data-wrapper-react="true">
            <div class="jfField isFilled">
              <div class="jfUpload-wrapper">
                <div class="jfUpload-container">
                  <div class="jfUpload-text-container">
                    <div class="jfUpload-icon forDesktop"><span class="iconSvg  dhtupload "></span></div>
                  </div>
                  <div class="jfUpload-button-container">
                    <div class="jfUpload-button" aria-hidden="true" tabindex="0" style="display:none" data-version="v2">Browse Files<div class="jfUpload-heading forDesktop">Drag and drop files here</div>
                      <div class="jfUpload-heading forMobile">Choose a file</div>
                    </div>
                  </div>
                </div>
                <div class="jfUpload-files-container">
                  <input type="file" id="input_53" name="q53_fileUpload[]" class="form-upload-multiple validate[required]" data-imagevalidate="yes" data-file-accept="jpeg, png, jpg" data-file-maxsize="4000" data-file-minsize="0" data-file-limit="" data-component="fileupload" required="" aria-label="Browse Files" accept="image/*" />
                </div>
              </div>
              <div data-wrapper-react="true"></div>
            </div><span style="display:none" class="cancelText">Cancel</span><span style="display:none" class="ofText">of</span>
          </div>
        </div>
      </li>

      <li class="form-line" data-type="control_button" id="id_27">
        <div id="cid_27" class="form-input-wide" data-layout="full">
          <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
            <button id="input_scl_27" type="button" class="form-submit-button form-sacl-button js-new-sacl-button  jf-form-buttons " data-component="button">Save</button>
						<button id="input_27" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">Submit</button>
					</div>
        </div>
      </li>

    </ul>
  </div>
  <div class="formFooter-heightMask"></div>
  <div class="formFooter f6 branding21"></div>
</form>
</body>
</html>
