<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Books</title>
</head>
<body>
    <form action="/books/" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {% if request.user.is_authenticated %}
            
            <p>
                {{form.book}}
            </p>

            <p>
                {{form.genres}}
                <datalist id="genres">
                    <select name="" id="">
                        {% for name in genres_names %}
                        <option value="{{name.genres}}">{{name.genres}}</option>
                        {% endfor %}
                    </select>
                </datalist>
            </p>

            <p>
                <input type="submit" value="Create">
            </p>

            <div>
                <a href="/signout/"><input type="button" value="SignOut"></a>
            </div>
            
            <p>
                {{form.errors}}
            </p>

            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </form>
</body>
</html>