<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
</head>
<body>
    <form action="/details/" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {% if request.user.is_authenticated %}
        <p>
            {{form.matricno}}
        </p>

        <p>
            {{form.email}}
        </p>

        <p>
            {{form.first_name}}
        </p>

        <p>
            {{form.last_name}}
        </p>

        <p>
            {{form.profile_picture}}
        </p>

        <p>
            <input type="submit" value="Create">
        </p>

        <div>
            <a href="/signout/"><input type="button" value="SignOut"></a>
        </div>
        
        <p>
            {{form.errors}}
        </p>
        {% endif %}
    </form>
</body>
</html>