<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
</head>
<body>
    <form action="/details/" method="POST">
        {% csrf_token %}
        {% if request.user.is_authenticated %}
            {{form.username}}
            {{form.matricno}}
            {{form.email}}
            {{form.first_name}}
            {{form.last_name}}
            <input type="submit" value="Create">
        {% endif %}
    </form>
</body>
</html>